@include c(list) {
  @include e(item) {
    @include margin(null, px2rpx(30px), null, px2rpx(30px));
    @include padding(px2rpx(30px), null, px2rpx(30px));

    position: relative;
    box-sizing: border-box;
    height: px2rpx(220px);
    border-bottom: 1px solid map-get($colors, c4);
    line-height: 100%;
  }

  @include e(title, subtitle) {
    @include text--overflow;

    width: px2rpx(750px / 2 - 30px);
  }

  @include e(title) {
    padding-bottom: px2rpx(16px);
  }

  @include e(subtitle) {
    padding-bottom: px2rpx(60px);
  }

  @include e(price, addon) {
    @include position--absolute(null, null, px2rpx(44px));
  }

  @include e(price) {
    left: 0;
  }

  @include e(addon) {
    right: px2rpx(160px + 30px);
  }

  @include e(image) {
    @include size(px2rpx(160px), px2rpx(160px));

    right: 0;
  }
}
