@each $key, $value in $font-sizes {
  .#{$key} {
    font-size: $value;
  }

  .u-lh-#{$key} {
    line-height: $value;
  }
}

@each $key, $value in $colors {
  .#{$key} {
    color: $value;
  }

  .u-bg-#{$key} {
    background-color: $value;
  }

  .u-bd-#{$key} {
    border: 1px solid $value;
  }
}

.u-cf {
  @include clearfix;
}

// 文字居中
.u-tac {
  text-align: center;
}

// 字体加粗
.u-fwb {
  font-weight: bold;
}

// 垂直居中
.u-vam {
  vertical-align: middle;
}

// 垂直居中（另）
.u-vc {
  @include position--absolute(50%);

  transform: translateY(-50%);
}

.u-lh-1 {
  line-height: 100%;
}

.u-to {
  @include text--overflow;
}

.u-mb-14 {
  margin-bottom: px2rpx(14px);
}
