@import "../../../styles/utils/index";

@include p(login) {
  @include pb(logo) {
    @include size(100%, px2rem(514px));

    // margin-top: px2rem(52px * 2);
    background: {
      image: url("./images/logo.png");
      size: 100% 100%;
    }
  }

  @include pb(forget-password) {
    @include padding(px2rem(15px), null, px2rem(15px));

    display: inline-block;
    line-height: 100%;
  }

  @include pb(button) {
    margin-top: px2rem(70px * 2);
  }
}
