.title {
  font-size: 14px;
  color: gray;
  padding: 15px;
  line-height: 100%;
}

.main {
  @include position--absolute(46px, 0, 50px, 0);
  @include padding(15px, null, 15px);

  overflow-x: hidden;
  overflow-y: auto;
}

.full-page {
  @include position--absolute(0, 0, 0, 0);

  background-color: white;
}
