@import "../../../styles/utils/index";

@include p(home) {
  background-color: #e5e5e5;

  @include pb(demo) {
    @include size(100%, 100%);

    background: {
      image: url("./images/bg.png");
      size: 100% 100%;
    }
  }

  @include pb(button) {
    @include position--absolute(null, px2rem(19px * 2));

    width: px2rem(28px * 2);
    text-align: center;
    background: {
      size: px2rem(56px) px2rem(52px);
      repeat: no-repeat;
    }

    @include m(comment) {
      bottom: px2rem(160px * 2);
      background-image: url("./images/comment.png");
    }

    @include m(praise) {
      bottom: px2rem((160px + 62px) * 2);
      background-image: url("./images/praise.png");
    }

    @include e(num, text) {
      line-height: 100%;
    }

    @include e(num) {
      padding-top: px2rem(15px);
    }

    @include e(text) {
      padding-top: px2rem(24px);
    }
  }

  @include pb(title, address, time) {
    @include position--absolute(null, null, null, px2rem((750px - 335px * 2) / 2));
    width: px2rem(335px * 2);
  }

  @include pb(address, time) {
    opacity: .8;
  }

  @include pb(time) {
    bottom: px2rem(20px * 2);
  }

  @include pb(address) {
    bottom: px2rem(50px * 2);
  }

  @include pb(title) {
    bottom: px2rem(80px * 2);
  }
}
