@import "../../utils/index";

@include c(button) {
  width: 100%;
  text-align: center;

  // 1
  @include m(1) {
    @include text--middle(px2rem(45px * 2));

    border-radius: px2rem(45px);
    background-color: map-get($colors, c5);
  }

  @include m(2) {
    @include text--middle(px2rem(45px * 2));

    border-radius: px2rem(45px);
  }
}
