@include c(icon) {
  display: inline-block;
  background: {
    size: 100% 100%;
    repeat: no-repeat;
    position: center center;
  }

  // give / receive / record
  @include m(give, receive, record) {
    @include size(px2rpx(44px), px2rpx(44px));
  }

  // give
  @include m(give) {
    background-image: image-url("components/icon/give.png");
  }

  // receive
  @include m(receive) {
    background-image: image-url("components/icon/receive.png");
  }

  // record
  @include m(record) {
    background-image: image-url("components/icon/record.png");
  }
}
