@include c(tabs) {
  background-color: map-get($colors, c1);
  border-bottom: 1px solid map-get($colors, c4);

  @include e(title) {
    display: flex
  }
  @include e(content) {
    height: px2rpx(200px);
  }
  @include e(item) {
    @include text--middle(px2rpx(80px));

    flex: 1;
    text-align: center;

    &.is-active {
      font-weight: bold;
      border-bottom: px2rpx(4px) solid map-get($colors, c2);
    }
  }
}
